@import "btnConfig";
@import "utilities";
@import "config";

// lines 1-4 imports settings/values from the files listed in the command
// lines 1-4 are "At-Rules".  Most "At-Rules" perform like JavaScript/Python commands

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
}

// on lines 15-16 we see values that start with "$".  In this case,
  // the "$" values are like JavaScript variables.  The ones above
  // are defined in the file "_config.scss"

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  @include set-bg($primary-color);
  height: 600px;

  // line 33 "@include" is access values from a "@mixin"
  // found in file "_utilities.scss"

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: text-color-picker($primary-color);
    }

    a:hover {
      color: $secondary-color;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

// Margin & padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}